<div class="title">
        <h1>Things</h1>
</div>
<form>
    <div class="group">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email">
        </mat-form-field>
    </div>
    <div class="group">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
        </mat-form-field> 
    </div>
    <button type="button" mdc-button class="button redButton" routerLink="/dashboard">Login
        <div class="ripples buttonRipples">
            <span class="ripplesCircle"></span>
        </div>
    </button>
</form>