<!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div class="sidenav">
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
          </div>
    </mat-drawer>
    <mat-drawer-content></mat-drawer-content>
  </mat-drawer-container> -->
<div>
  <button mat-button style="background-color:red;color:#fff"  (click)="openDialog()">Click here</button>
</div>
<br>
<div>
    <button mat-button style="background-color:red;color:#fff"  (click)="showButtons()">Toogle Ghost</button>
</div>

<div class="ghost-area">
    <div id="ghost" [ngClass]="{'ghost':showGhost}"></div>
</div>