<header>
  <nav id='cssmenu'>
  <div class="logo"><a href="index.html">AIS NG System v2.77 (UAT)[20180720] </a></div>
  <div id="head-mobile"></div>
  <div class="button"></div>
  <ul>
  <!-- <li class='active'><a href='#'>HOME</a></li>
  <li><a href='#'>ABOUT</a></li>
  <li><a href='#'>PRODUCTS</a>
     <ul>
        <li><a href='#'>Product 1</a>
           <ul>
              <li><a href='#'>Sub Product</a></li>
              <li><a href='#'>Sub Product</a></li>
           </ul>
        </li>
        <li><a href='#'>Product 2</a>
           <ul>
              <li><a href='#'>Sub Product</a></li>
              <li><a href='#'>Sub Product</a></li>
           </ul>
        </li>
     </ul>
  </li>
  <li><a href='#'>BIO</a></li>
  <li><a href='#'>VIDEO</a></li>
  <li><a href='#'>GALLERY</a></li>
  <li><a href='#'>CONTACT</a></li> -->
  <li><a href='#'>Sample</a></li>
  <li><a href='#'>BVLab</a></li>
  <li><a href='#'>TestAssignment</a></li>
  <li><a href='#'>Resulting</a></li>
  <li><a href='#'>Tracking</a></li>
  <li><a href='#'>ARG</a></li>
  <li><a href='#'>BVOS</a></li>
  <li><a href='#'>Query</a></li>
  <li><a href='#'>Report</a></li>
  <li><a href='#'>AIS</a>
    <ul>
      <li><a href='#'>Product 1</a>
         <ul>
            <li><a href='#'>Sub Product</a></li>
            <li><a href='#'>Sub Product</a></li>
         </ul>
      </li>
      <li><a href='#'>Product 2</a>
         <ul>
            <li><a href='#'>Sub Product</a></li>
            <li><a href='#'>Sub Product</a></li>
         </ul>
      </li>
   </ul>
  </li>
  <li><a href='#'>Dierctory</a></li>
  <li class="logout"><a href='#'>System Logout</a></li>
  </ul>
  </nav>
  </header>