/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background:#333;
}

.mat-tab-label-content{
    color:#fff !important;
  }


  #spinner{
    background-color: rgba(0,0,0,.288) !important;
  }

  .snack-bar-error-color {
    background-color: rgb(189, 24, 24);
    color: #fff;
  }

  .snack-bar-success-color {
    background-color: rgb(23, 141, 23);
    color: #fff;
  }
